/* 404 styles */

body.error404 {
	background: #f8f8f8;
	height: 100%;
}

.not-found {
	width: 100%;
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 10;
	@include mobile-all {
		top: 54px;
	}
	.content-block {
		width: 400px;
		padding: 20px;
		margin-left: 20px;
		@include phone-all {
			background: rgba(255,255,255,0.5);
		}
		@include phone-portrait {
			margin-left: 0;
			width: 100%;
		}
	}
	.fa-warning {
		font-size: 60px;
		margin: 0 0 40px 0;
		@include phone-portrait {
			font-size: 40px;
		}
	}
	h2 {
		font-size: 40px;
		line-height: 1.2;
		@include phone-portrait {
			font-size: 20px;
		}
	}
	p {
		font-size: 20px;
		@include phone-portrait {
			font-size: 16px;
		}
	}
}

.error404 .cat {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: -30px;
	left: 0;
	z-index: 1;
	@include phone-all {
		bottom: 0;
	}

}