/* for home content panel */

.launchsc {
	background: url(images/bg-home.jpg) no-repeat 0 0;
	background-size: cover;
	background-position: center bottom;
	color: $brand-white;
	text-align: center;
	&.v2 {
		background-image: url(images/bg-home.jpg);
	}
	.content {
		padding-top: 40px;
		@include phone-all {
			padding-top: 0;
		}
	}
	h1, h2, h3, h4, p {
		color: $brand-white;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 0.6em;
		@include phone-landscape {
			font-size: 32px;
		}
		@include phone-portrait {
			font-size: 28px;
		}
	}
	p {
		font-size: 20px;
		width: 580px;
		margin: 0 auto;
		@include phone-all {
			width: auto;
			padding: 0 10px 0 10px;
			font-size: 16px;
		}
	}
	&.panel {
		@include phone-all {
			height: auto;
		}
	}
}

/* icons without circles */
.toolkit-icons {
	list-style: none;
	margin: 70px 0 90px 0;
	li {
		display: inline-block;
		font-size: 14px;
		position: relative;
		text-align: center;
		width: 150px;
			&:before {
				display: block;
				overflow: hidden;
				content: ' ';
				width: 100px;
				height: 100px;
				position: relative;
				margin-bottom: 16px;
				left: 50%;
				background: url(images/sprite-launchkit.png) no-repeat 0 0;
				@include retina {
					background-image: url(images/sprite-launchkit@2x.png);
					background-size: 100px 400px;
				}
			}
		&.posters {
			&:before {
				width: 46px;
				height: 57px;
				background-position: 0 0;
				margin-left: -23px;
			}
		}
		&.emails {
			&:before {
				width: 50px;
				height: 51px;
				background-position: 0 -100px;
				margin-left: -25px;
			}
		}
		&.playbook {
			&:before {
				width: 46px;
				height: 55px;
				background-position: 0 -200px;
				margin-left: -23px;
			}
		}
		&.banners {
			&:before {
				width: 41px;
				height: 57px;
				background-position: 0 -300px;
				margin-left: -20px;
			}
		}
	}
}

/* icon in circles */
.toolkit-icon-circles {
	list-style: none;
	margin: 30px 0 60px 0;
	@include tablet-portrait {
		width: 600px;
		margin: 20px auto 30px auto;
	}
	@include phone-all {
		margin: 20px 0 30px 0;
	}
	li {
		display: inline-block;
		width: 152px;
		height: 152px;
		background: transparent url(images/sprite-launchkit-circles.png) no-repeat 0 0;
		text-align: center;
		vertical-align: top;
		margin: 0 10px 0 10px;
		padding: 96px 25px 0 25px;
		line-height: 1.2;
		overflow: hidden;
		@include retina {
			background-image: url(images/sprite-launchkit-circles@2x.png);
			background-size: 152px 760px;
		}
		@include phone-all {
			margin: 4px;
			width: 114px;
			height: 114px;
			background-size: 114px 570px;
			padding: 74px 20px 0 20px;
			font-size: 12px;
		}
		&.posters {
			background-position: 0 0;
		}
		&.emails {
			background-position: 0 -152px;
			@include phone-all {
				background-position: 0 -114px;
			}
		}
		&.playbook {
			background-position: 0 -304px;
			padding-top: 104px;
			@include phone-all {
				padding-top: 80px;
				background-position: 0 -228px;
			}
 		}
		&.banners {
			background-position: 0 -456px;
			@include phone-all {
				background-position: 0 -342px;
			}
		}
		&.onesheet {
			background-position: 0 -608px;
			@include phone-all {
				background-position: 0 -456px;
			}
		}
	}
}

.partnership-logo {
	margin: 60px 0 40px 0;
}

.logo-bcbssc {
	background: transparent url(images/logo-bcbssc.png) no-repeat 0 0;
	display: inline-block;
	width: 208px;
	height: 41px;
	@include retina {
		background-image: url(images/logo-bcbssc@2x.png);
		background-size: 208px 41px;
	}
}

.logo-bcbsfl {
	background: transparent url(images/logo-bcbsfl.png) no-repeat 0 0;
	display: inline-block;
	width: 215px;
	height: 42px;
	@include retina {
		background-image: url(images/logo-bcbsfl@2x.png);
		background-size: 215px 42px;
	}
}
