/* lega policies */

.legal-policy {
	font-size: 14px;
	h2 {
		font-weight: 600;
		font-size: 16px;
	}
	h3 {
		font-weight: 600;
		font-size: 14px;
	}
	h4 {
		font-size: 14px;
		font-style: italic;
		text-decoration: underline;
		margin-bottom: 0;
	}
	ul, ol {
		margin: 0 0 1em 1.2em;
		li {
			margin-bottom: 0.3em;
		}
	}
	.privacy-policy-nav {
		float: right;
		.seal-truste {
			margin-right: 10px;
			float: left;
			display: block;
		}
		.language-nav {
			font-weight: bold;
			padding-top: 30px;
			display: block;
			float: left;
		}
	}
}