/* content - contact us */

.content-container.contact-us {
	background-image: url(images/bg-bubbles.jpg);
	&.panel {
		@include phone-portrait {
			height: auto;
			min-height: 360px;
			max-height: 500px;
		}
	}
	.content-block {
		position: relative;
		top: 50%;
		margin: -240px auto 20px auto;
		text-align: center;
		width: 730px;
		@include phone-all {
			width: 100%;
			top: 0;
			margin: 0;
			margin-top: 10px;
		}
	}
	h1, h2, h3, h4, p {
		color: $brand-white;
	}
	h1 {
		text-transform: uppercase;
		font-size: 34px;
		margin-bottom: 40px;
		@include phone-all {
			font-size: 28px;
			margin-bottom: 20px;
		}
	}
	.locations {
		list-style: none;
		margin: 20px 0 30px 0;
		@include phone-portrait{
			margin: 10px 0 15px 0;
		}
		li {
			float: left;
			display: block;
			overflow: hidden;
			width: 200px;
			height: 200px;
			background: transparent url(images/sprites-contactus.png) no-repeat 0 0;
			margin: 0 20px 0 20px;
			@include retina {
				background-image: url(images/sprites-contactus@2x.png);
				background-size: 200px 600px;
			}
			@include phone-all {
				width: 100px;
				height: 100px;
				background-size: 100px 300px;
				display: inline-block;
				text-align: center;
				float: none;
				margin: 0 4px 0 4px;
				@include retina {
					background-image: url(images/sprites-contactus@2x.png);
					background-size: 100px 300px;
				}
			}
			&.sf {
				background-position: 0 0;
			}
			&.chicago {
				background-position: 0 -200px;
				@include phone-all {
					background-position: 0 -100px;
				}
			}
			&.dc {
				background-position: 0 -400px;
				@include phone-all {
					background-position: 0 -200px;
				}
			}
		}
	}
	.email {
		list-style: none;
		li {
			margin: 0 0 10px 0;
			a {
				display: block;
				padding: 20px;
				font-size: 24px;
				transition: all 400ms;
				border: 1px solid $brand-dark-orange;
				color: $brand-white;
				&:hover, &:active {
					color: $brand-white;
					background: $brand-orange;
				}
			}
		}
	}
	&.mini {
		background-size: cover;
		background-position: center center;
		height: 300px;
		.content-block {
			top: 10px;
			margin-top: 0;
			padding: 10px;
			h1 {
				margin-bottom: 0.25em;
				text-transform: none;
			}
		}
	}
}