/* content - about us */

.content-container.about-us {
	background-image: url(images/bg-bokeh.jpg);
	h1, h2, h3, h4, p, ul{
		color: $brand-white;
	}
	&.panel {
		@include phone-landscape {
			height: 600px;
		}
		@include phone-portrait {
			height: 620px;
		}
	}
	.content-block {
		position: relative;
		top: 50%;
		margin: -260px auto 20px auto;
		text-align: center;
		width: 920px;
		@include phone-all {
			width: 100%;
			margin: 0;
			top: 0;
		}
		h1 {
			font-size: 34px;
		}
		p {
			font-size: 18px;
			&.tagline {
				span {
					display: block;
				}
			}
		}
	}
	.content-top {
		@include phone-all {
			display: none;
		}
	}
	.float-block {
		text-align: left;
		float: left;
		width: 460px;
		margin: 20px 0 20px 0;
		padding: 10px 30px 30px 30px;
		@include phone-all {
			padding: 10px;
			margin: 10px 0 10px 0;
			width: 100%;
		}
		&.first {
			border-right: 1px solid $brand-white;
			@include phone-all {
				border-right: none;
			}
		}
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 17px;
			line-height: 1.1;
		}
		ul {
			list-style: none;
			li {
				font-size: 17px;
				@include phone-all {
					font-size: 14px;
				}
				&:before {
					position: relative;
					left: -.25em;
					top: 0;
					content: " \2022";
					color: #ffffff;
				}
				.fa-heart {
					font-size: 14px;
					margin: 0 2px 0 2px;
				}
			}
			&.who-we-are {
				width: 100%;
				li {
					float: left;
					font-size: 13px;
					display: block;
					margin: 0 20px 0 20px;
					text-align: center;
					@include phone-all {
						margin: 0;
						font-size: 12px;
						width: 33%;
					}
					&:before {
						display: block;
						overflow: hidden;
						margin: 0 auto;
						width: 60px;
						height: 53px;
						background: transparent url(images/sprites-aboutus.png) no-repeat 0 0;
						content: " ";
						@include phone-all {
							width: 30px;
							height: 27px;
							background-size: 29px 123px;
						}
					}
					&.game-designers {
						&:before {
							background-position: 0 -14px;
							@include phone-all {
								background-position: 0 -7px;
							}
						}
					}
					&.media-mavens {
						&:before {
							height: 50px;
							background-position: 0 -70px;
							margin-bottom: 3px;
							@include phone-all {
								height: 25px;
								background-position: 0 -35px;
							}
						}
					}
					&.health-care-experts {
						&:before {
							background-position: 0 -120px;
							@include phone-all {
								background-position: 0 -60px;
							}
						}
					}
				}
			}
		}
	}
	.link-more {
		margin-top: 20px;
	}
}