/* footer styles */

footer {
	background: $color-footer;
	text-align: center;
	font-size: 12px;
	color: #666;
	.content-container {
		> .container {
			padding: 20px 0;
		}
	}
	p {
		margin-bottom: 0;
	}
	.disclaimer {
		width: 740px;
		margin: 0 auto;
		@include phone-all {
			font-size: 11px;
			width: 90%;
		}
	}
}

.seals {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.seal-hipaa {
	display: inline-block;
	width: 140px;
	height: 80px;
	background: transparent url(images/hipaaLanding_transparent.png) no-repeat 0 0;
}
.seal-ncqa {
	display: inline-block;
	width: 80px;
	height: 80px;
	background: transparent url(images/ncqaLogo_transparent.png) no-repeat 0 0;
}
.seal-truste {
	display: inline-block;
	width: 142px;
	height: 80px;
	background: transparent url(images/truste_seal.png) no-repeat 0 20px;
}

.social-nav {
	position: relative;
	margin: 10px auto 20px auto;
	display: block;
	@include mobile-all {
		display: none;
	}
	a.icons {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #e3e3e3;
		text-align: center;
		padding-top: 6px;
		border-radius: 20px;
		overflow: hidden;
		margin: 0 4px 0 4px;
		&:hover, &:active {
			background: #fd7e2d;
			.fa {
				color: #e75204;
			}
		}
		.fa {
			color: #a1a1a1;
			font-size: 30px;
			&.fa-linkedin {
				font-size: 28px;
			}
		}
		span {
			display: none;
		}
	}
}