/* single posts */

.single-post-content {
	.heading {
		> .container {
			padding: 20px 10px 20px 10px;
		}
		h1 {
			font-size: 40px;
			margin-bottom: 0.2em;
			color: $brand-purple;
		}
	}
	.featured-image {
		img {
			width: 100%;
			height: auto;
		}
	}
	.article-body {
		> .container {
			padding: 20px 0 30px 0;
		}
		.side-bar {
			float: left;
			width: 220px;
			padding: 0 10px 20px 10px;
			margin-right: 60px;
			line-height: 1.5;
			> div {
				padding: 20px 0 20px 0;
				border-bottom: 1px solid $color-border-gray;
				&:first-child {
					padding-top: 6px;
				}
				&:last-child {
					border-bottom: none;
				}
				h4 {
					font-size: 12px;
					color: $brand-dark-gray;
					font-weight: 600;
				}
			}
			.categories {
				ul {
					list-style: none;
				}
			}
		}
		.main {
			float: left;
			width: 640px;
			font-size: 18px;
			p {
				font-size: 18px;
			}
		}
	}
}

.article-footer {
	.articles-list {
		.section-header {
			height: 20px;
		}
	}
}