/* solutions styles */

.solutions-panel {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
	@include phone-all {
		height: auto;
		min-height: 0;
		max-height: 1000px;
		}
	&.gray {
		background: #f2f2f2;
	}
	.overlay {
		background: #000;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0.3;
	}
	> .content-container {
		height: 100%;
		> .container {
			height: 100%;
			z-index: 10;
		}
	}
	.main-image {
		position: absolute;
		top: 30px;
		left: 0;
		width: 60%;
		height: 100%;
		padding: 20px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
		@include tablet-portrait {
			top: 60px;
		}
		@include phone-all {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			padding: 10px;
		}

	}
	.main-content {
		position: absolute;
		left: 60%;
		top: 100px;
		width: 40%;
		padding: 0 0 0 10px;
		font-size: 18px;
		@include tablet-portrait {
			top: 70px;
			padding: 0;
		}
		@include phone-all {
			position: relative;
			padding: 0 14px 0 14px;
			left: 0;
			width: 100%;
			top: 0;
		}
		h1 {
			font-size: 44px;
			margin-bottom: 0.3em;
			sup {
				font-size: 12px;
				position: relative;
				top: -22px;
			}
			@include phone-all {
				font-size: 34px;
				sup {
					font-size: 10px;
					top: -20px;
				}
			}
		}
		h2 {
			font-size: 34px;
			@include phone-all {
				font-size: 28px;
			}
		}
		p {
			font-size: 18px;
			line-height: 1.2;
			@include phone-all {
				font-size: 16px;
			}
		}
	}
	&.overview {
		height: 600px;

		.main-image {
			top: 8px;
			left: 50%;
			width: 640px;
			padding: 0;
			margin-left: -640px;
			@include phone-all {
				display: none;
			}
		}
		.main-content {
			top:auto;
			left: auto;
			position: relative;
			margin: 0 auto;
			width: 600px;
			height: 100%;
			padding: 40px 20px 10px 20px;
			text-align: center;
			text-shadow: 0px 0px 3px #000;
			h1 {
				line-height: 1.2;
				color: $brand-white;
			}
			p {
				color: $brand-white;
				font-size: 20px;
			}
			.play-video {
				display: inline-block;
				font-size: 24px;
				margin-top: 60px;
				color: $brand-white;
				span {
					margin-bottom: 8px;
					display: inline-block;
				}
				.fa {
					font-size: 80px;
				}
			}
			@include tablet-portrait {
				width: 370px;
				padding: 0 0 0 20px;
				top: 40px;
			}
			@include phone-all {
				width: 100%;
				top: 0;
				left: 0;
				padding: 20px 30px 30px 30px;
			}
		}
	}
	&.health-survey {
		.main-image {
			top: 20px;
			@include tablet-portrait {
				top: 80px;
			}
		}
		.main-content {
			top: 60px;
			@include phone-all {
				top: 0;
			}
		}
	}
	&.reverse {
		.main-image {
			left: 40%;
			@include phone-all {
				left: 0;
			}
		}
		.main-content {
			left: 10px;
			@include phone-all {
				left: 0;
			}
		}
	}
	&.challenges {
		.main-image {
			top: 0;
			padding: 30px;
			@include tablet-portrait {
				top: 50px;
			}
		}
		.main-content {
			top: 60px;
			@include phone-all {
				top: 0;
			}
		}
	}
}


/* body tag needs to change color for the background video */
body {
	&.page-template-page-our-product {
		background: transparent;
	}
}

/* new video based product solution top block */
.solutions-panel {
	&.overview {
		.content-bar {
			width: 100%;
			position: absolute;
			z-index: 5;
			bottom: 100px;
			left: 0;
			.bg {
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.8;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				@include phone-all {
					opacity: 0.6;
				}
			}
			.content-container {
				> .container {
					padding: 14px 10px 14px 10px;
					@include phone-all {
						padding: 14px 20px 24px 20px;
					}
				}
			}
			h1, h2, h3, h4, p {
				color: $brand-white;
			}
			.desc-block, .video-block {
				float: left;
				@include phone-all {
					float: none;
				}
			}
			.desc-block {
				width: 670px;
				border-right: 1px solid $brand-white;
				padding-right: 20px;
				@include tablet-portrait {
					width: 540px;
					p {
						font-size: 14px;
					}
				}
				@include phone-all {
					width: 100%;
					border-right: none;
					padding-right: 0;
				}
				h1 {
					position: absolute;
					top: -54px;
					@include phone-all {
						position: relative;
						top: auto;
						margin-bottom: 8px;
					}
				}
				p {
					margin-bottom: 0;
				}
			}
			.video-block {
				padding-left: 10px;
				padding-top: 10px;
				@include phone-all {
					width: 100%;
					padding-left: 0;
				}
				.play-video {
					color: $brand-white;
					font-size: 18px;
					display: block;
					padding: 10px;
					border-radius: 4px;
					@include phone-all {
						width: 170px;
						left: 50%;
						position: relative;
						margin-left: -85px;
					}
					span {
						display: block;
						width: 80px;
						float: left;
						line-height: 1.3;
						margin-right: 10px;
					}
					.icons.play {
						float: left;
						margin-top: -4px;
					}
					&:hover {
						background: $brand-dark-orange;
					}
				}
			}
			.learn-more {
				position: absolute;
				bottom: -41px;
				left: 50%;
				margin-left: -95px;
				display: block;
				background: $brand-green;
				color: $brand-white;
				font-size: 16px;
				padding: 12px 30px;
				width: 190px;
				text-transform: uppercase;
				&:hover {
					background: $brand-dark-orange;
				}
				@include phone-all {
					font-size: 14px;
					width: 180px;
					padding: 12px 30px;
					bottom: -41px;
					background: $brand-dark-orange;
					margin-left: - 90px;
				}
				.icons.arrow-down {
					top: 2px;
					margin-top: -2px;
					margin-left: 8px;
					@include phone-all {
						top: 3px;
						margin-top: -2px;
					}
				}
			}
		}
	}
}

.icons {
	background: transparent url(images/sprites-solutions.png) no-repeat 0 0;
	display: inline-block;
	position: relative;
	@include retina {
		background-image: url(images/sprites-solutions@2x.png);
		background-size: 100px 200px;
	}
	&.play {
		height: 59px;
		width: 59px;
		background-position: 0 0;
	}
	&.arrow-down {
		width: 19px;
		height: 17px;
		background-position: 0 -100px;
	}
}

/* video background */
.vidbg {
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  min-width: 100%;
  width: 100%;
  height: 600px;
  z-index: -101;
  background: url(images/solutions-video-bg.jpg) no-repeat; // add background here later
  background-size: cover;
  background-position: center center;
  video {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		@include phone-all {
			display: none;
		}
  }
  /* optional overlay on top of the video */
  .vidbg-overlay {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		width: 100%;
		height: 100%;
		z-index: -99;
		opacity: 0.4;
		background: #000;
  }
}

/* video controls */
.video-controls {
	position: absolute;
	z-index: 10;
	right: 14px;
	top: 14px;
	font-size: 18px;
	color: $brand-white;
	opacity: 0.7;
	a {
		color: $brand-white;
	}
}



