- get_header();

section.not-found
	.content-container
		.container
			.content-block
				i.fa.fa-warning
				h2 Sorry for the paws in your experience
				p We can‘t find the page you‘re looking for.
				p Keep exploring!
				a.button.small(href="/") Go!
img.cat(src!="<?php bloginfo('template_url'); ?>/images/404_cat.png")