- get_header();

section.news-content.content-container
	.container.clearfix
		#ajax-news-loader
			:php
				if( have_posts() ) :
				while ( have_posts() ) : the_post();
					get_template_part( 'article-list-news');
				endwhile;
			.page-nav
				- previous_post_link('previous');
				.next
						- next_posts_link('next');
	:php
		else:
		endif;

- get_footer();