- get_header();

.page-header
	.content-container
		.content-container
			.container
				h1
					:php
						if (is_category()) {
							$cat = get_query_var('cat');
							$yourcat = get_category($cat);
							echo $yourcat->slug . ' articles';
							}

section#featured_articles.featured-articles
	.content-container.clearfix

		:php
			query_posts(array(
				'cat' => get_query_var('cat'),
				'tag' => 'featured',
				'posts_per_age' => 3
				));
			if (have_posts()) while (have_posts()) : the_post();
				get_template_part('featured');
				endwhile;
			wp_reset_query();

section#articles
	.content-container
		.container.clearfix
			#ajax-load-content
				.articles-list
					h1.title-latest
						strong Featured articles

					:php
						$args = array(
							'cat' => get_query_var('cat'),
							'tag' => 'featured',
							'posts_per_page' => 3
							);
						$ids = array();
						$products = new WP_Query($args);
						if ($products->have_posts()) :
							while ($products->have_posts()) : $products->the_post();
								$ids[] = $post->ID;
							endwhile;
						endif;

						$exclude_ID1 = get_category_id('rally news');
						$exclude_tag1 = get_tag_id('featured');
						query_posts( array(
							//'tag__not_in' => $exclude_tag1,
							'category__not_in' => $exclude_ID1,
							'post__not_in' => $ids,
							'cat' => get_query_var('cat'),
							'paged' => get_query_var( 'paged' ),
							));

						if ( have_posts() ) while ( have_posts() ) : the_post();
							get_template_part( 'article-list-items' );
						endwhile;

					.page-nav
						- previous_posts_link('previous');
						.next
							- next_posts_link('next', $wp_query->max_num_pages);

					- wp_reset_query();

			.news-list
				h3.title-side-list
					strong Rally News

				:php
					query_posts( array('category_name' => 'news', 'posts_per_page' => 5));
					if ( have_posts() ) while ( have_posts() ) : the_post();

						get_template_part( 'side-list-items');

					endwhile;
					wp_reset_query();
				a.read-more(href="/topics/news/") More News

- get_footer();