footer
	.content-container
		.container
			nav.social-nav
				a.icons(href="https://www.facebook.com/RallyHealth" target="_blank" title="Facebook")
					i.fa.fa-facebook
					span Facebook
				a.icons(href="https://twitter.com/rally_health" target="_blank" title="Twitter")
					i.fa.fa-twitter
					span Twitter
				a.icons(href="http://www.linkedin.com/company/rally-health" target="_blank" title="LinkedIn")
					i.fa.fa-linkedin
					span LinkedIn
			.disclaimer
				p Rally complies with HIPAA, the Federal law that protects the privacy and security of health information.
			.seals
				.seal-hipaa
				.seal-ncqa
				a.seal-truste(href="//privacy.truste.com/privacy-seal/Rally-Health-Solutions,-Inc-/validation?rid=3a07b23f-1765-47d0-8929-cefd80b4b67c" target="_blank" title="TRUSTe online privacy certification")
			p Rally Health, Inc. &copy; 2015 | All Rights Reserved

a.modal-overlay.ga-events(data-action="close" data-category="modal" data-label="close modal")
.modal.universal
	a.close.ga-events( data-action="close" data-category="modal" data-label="close modal")
		i.fa.fa-close
	.container
		.content
		.overlay

- wp_footer();

| </body>
| </html>