header.site-header
	a.nav-launcher
		i.fa.fa-bars
	.content-container
		.container
			a.logo(href="/")
				span Rally Health
			nav.main-nav
				a.nav-closer.menu-toggle
					i.fa.fa-close
				- wp_nav_menu(array('theme_location' => 'header-menu'));