.promo-unit-kh.popup#kevin_hart_promo_modal
	h4 See Kevin Hart Live!
	h5 Enter for a chance to win two tickets to his "What Now?" show.
	.kh-photo
	p Our Rally With Kevin Exclusive Experience includes tickets, travel, and hotel.
	a.button.full-width.ga-events(href="/kevinhart/" target="_blank" data-category="promo kevin hart modal" data-action="click" data-label="enter now") Enter Now
	p.disclaimer
		| No purchase necessary. Must be 21+. Other 
		a(href="/sweepstake-terms/" target="_blank") terms and conditions
		|  apply.