.promo-unit-kh.bottom#kevin_hart_promo_bottom
	h4 See Kevin Hart Live!
	h5 Enter for a chance to win two tickets to his "What Now?" show.
	.kh-photo
	p Our Rally With Kevin Exclusive Experience includes tickets, travel, and hotel.
	a.button.full-width.ga-events(href="/kevinhart/" target="_blank" data-category="promo kevin hart bottom" data-action="click" data-label="enter now") Enter Now
	p.disclaimer
		a(href="/sweepstake-terms/" target="_blank") Terms and conditions
		|  apply.