section.home.simple#promo_bottom
	.content-container
		.main-image
			img(src!="<?php bloginfo('template_url'); ?>/images/solutions-rally.png")
		.main-content
			h1 Rally<sup>SM</sup>
			p Managing your health just got a whole lot easier.
			a.button(href="/our-product/") Learn More