- $postClass = join( ' ', get_post_class() );

article(id!="post-<?php the_ID(); ?>" class!="<?php echo $postClass; ?>")
	a(href!="<?php the_permalink(); ?>")
		h4(title!="<?php the_title(); ?>")
			- the_title();
		.desc
			| By 
			:php
				if ( get_post_meta($post->ID, 'by_line', true) ) {
					echo get_post_meta($post->ID, "by_line", $single = true);
				} else  {
					the_author_link();
				}
			|  | 
			- the_time('F');
			| &nbsp;
			- the_time('j');
			| , 
			-the_time('Y');
			- if ( get_post_meta($post->ID, 'article_source', true) ) {
			|	 | 
			- echo get_post_meta($post->ID, "article_source", $single = true);
			- }