- get_header();

- if (have_posts()) :
- while (have_posts()) : the_post();

article.single-post-content
	:php
		$thumb_id = get_post_thumbnail_id();
		$thumb_url_array = wp_get_attachment_image_src($thumb_id, 'single-post-image', true);
		$thumb_url = $thumb_url_array[0];

	.content-container.heading
		.container
			h1(title!="<?php the_title(); ?>")
				- the_title();
			- if ( get_post_meta($post->ID, 'subtitle', true) ) {
			h2
				- echo get_post_meta($post->ID, "subtitle", $single = true);
			- }

	.featured-image
		-  the_post_thumbnail( 'single-post-image' );


	.content-container.article-body
		.container.clearfix
			// sidebar
			.side-bar
				.date
					- the_time('F j, Y');
				.author
					h4 Posted By:
					:php
						if ( get_post_meta($post->ID, 'by_line', true) ) {
							echo get_post_meta($post->ID, "by_line", $single = true);
						} else {
							the_author_link();
						}
				.categories
					h4 Categories
					- the_category();

			// main content
			.main
				- the_content();

				- if ( get_post_meta($post->ID, 'external_link', true) ) {
				nav.link-external
					span.link-icon
					| Read more: 
					a(href="<?php echo get_post_meta($post->ID, 'external_link', $single = true); ?>" target="_blank")
						- echo get_post_meta($post->ID, "external_link_name", $single = true);
				- }

.content-container.article-footer
	.container
		.content-block
			nav.articles-list
				.section-header
					h4 Done with this article? Read more

				:php
					$category = get_the_category($post->ID);
					query_posts ( array(
						'posts_per_page' => 4,
						'post__not_in' => array($post->ID),
						'category__in' => array(
								$category[0]->cat_ID,
								$category[1]->cat_ID,
								$category[2]->cat_ID
							)
						));
					if ( have_posts() ) while ( have_posts() ) : the_post();
						get_template_part( 'article-list-items' );
					endwhile;

					wp_reset_query();


- endwhile;
- else :

h1 Not found
p Content missing

- endif;

- get_footer();



