- get_header();

- if (have_posts()) :
- while (have_posts()) : the_post();

section.single-news-post.content-container
	.container
		article
			.link-back
				a(href="/topics/news/") &lt;&nbsp;Back to News

			h1(title!="<?php the_title(); ?>")
				- the_title();

			- if ( get_post_meta($post->ID, 'subtitle', true) ) {
				h2
					- echo get_post_meta($post->ID, "subtitle", $single = true);
			- }

			.post-info
				| By&nbsp;
				span.author
					:php
						if ( get_post_meta($post->ID, 'by_line', true) ) {
							echo get_post_meta($post->ID, "by_line", $single = true);
						} else {
							the_author_link();
						}
				span.divider |
				time
					- the_time('F');
					| &nbsp;
					- the_time('j');
					| , 
					- the_time('Y');


			- if (has_post_thumbnail( $post->ID)) :
				- $thumb_id = get_post_thumbnail_id();
				- $thumb_url_array = wp_get_attachment_image_src($thumb_id, 'post-thumbnail', true);
				- $thumb_url = $thumb_url_array[0];

			.featured-image(style!="background-image: url('<?php echo $thumb_url; ?>');")

			- endif;

			- the_content();

			- if ( get_post_meta($post->ID, 'external_link', true) ) {
			nav.link-external
				span.link-icon
				| Read more: 
				a(href!="<?php echo get_post_meta($post->ID, 'external_link', $single = true); ?>" target="_blank")
					- echo get_post_meta($post->ID, "external_link_name", $single = true);
			- }

			- if ( get_post_meta($post->ID, 'legal_checkbox', true) ) {
				p.legal The entities and logos identified on this page may have trademarks and those trademarks are owned by the respective entity.
			- }

- endwhile;
- else :
	h1 Not Found
	p Missing content.

- endif;

- get_footer();

